.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #09d3ac;
}

.form-group {
  margin-bottom: 15px;
}

label {
  text-align: left;
}

label, input {
  display: block;
}

.wrapper .half {
  display: inline-block;
  width: 40%;
}